<!-- Footer -->
<footer style="background-color: #002333;border-top: 2px solid #e9e9e9;" class="text-center text-white mt-4">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/aksarayedutr/" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/aksarayedutr" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Youtube -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/c/aksarayedutr2006" role="button"
        ><i class="fab fa-youtube"></i
      ></a>

      <!-- Instagram -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/aksarayedutr/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <mdb-form-control class="form-white mb-4">
              <p>Adres: Aksaray Üniversitesi Bahçesaray
                Mahallesi 68100 Aksaray</p>
            </mdb-form-control>
            <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 2rem;">
              <img src="../../assets/AFAD-Logo-Renkli.png" alt="" style="background-color: white;width: 30%;">
              <a href="tel:112" style="margin-left: 0.7rem;padding-top: 0.3rem;">Acil durumda <span style="color: red;">tıklayınız.</span></a>
            </div>
          </div>
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->


    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">ÖNEMLİ LİNKLER</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://ogris.aksaray.edu.tr/akademik-takvim" class="text-white">Akademik Takvim</a>
              </li>
              <li>
                <a href="http://185.92.1.217:8080/asubis/" class="text-white">Akıllı Bisiklet</a>
              </li>
              <li>
                <a href="https://bilgiislem.aksaray.edu.tr/akilli-gecis-sistemi-ags-ucreti" class="text-white">Akıllı Geciş Sistemi</a>
              </li>
              <li>
                <a href="https://tanitim2.aksaray.edu.tr/" class="text-white">ASÜ Tanıtım</a>
              </li>
              <li>
                <a href="https://bilgiislem.aksaray.edu.tr/ebys-kurulum" class="text-white">EBYS</a>
              </li>
              <li>
                <a href="https://eduroam.aksaray.edu.tr/" class="text-white">Eduroam</a>
              </li>
            </ul>
        </div>
        <!--Grid column-->

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mt-4">
            <li>
              <a href="https://engelsiz.aksaray.edu.tr/" class="text-white">Engelsiz ASÜ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Etkinlik Süre Takibi</a>
            </li>
            <li>
              <a href="https://www.aksaray.edu.tr/gorus-oneri-formu" class="text-white">RİMER</a>
            </li>
            <li>
              <a href="https://strateji.aksaray.edu.tr/idari-faaliyet-raporu" class="text-white">İdari Faaliyet Raporu</a>
            </li>
            <li>
              <a href="https://disiliskiler.aksaray.edu.tr/" class="text-white">International Office</a>
            </li>
            <li>
              <a href="https://kalite.aksaray.edu.tr/kurum-ici-degerlendirme-raporlari" class="text-white">Kurum İç Değ. Raporu</a>
            </li>
          </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <ul class="list-unstyled mt-4">
          <li>
            <a href="https://obs.aksaray.edu.tr/oibs/kariyer/login.aspx" class="text-white">Mezun Bilgi Sistemi</a>
          </li>
          <li>
            <a href="https://ogris.aksaray.edu.tr/" class="text-white">Öğrenci</a>
          </li>
          <li>
            <a href="https://obs.aksaray.edu.tr/" class="text-white">Öğrenci Bilgi Sistemi</a>
          </li>
          <li>
            <a href="http://rehber.aksaray.edu.tr/" class="text-white">Telefon Rehberi</a>
          </li>
          <li>
            <a href="https://asuzem.aksaray.edu.tr/" class="text-white">Uzaktan Eğitim</a>
          </li>
          <li>
            <a href="https://havuz.aksaray.edu.tr/" class="text-white">Yüzme Havuzu</a>
          </li>
        </ul>
    </div>

        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">BAĞLANTILAR</h5>
          <ul class="list-unstyled mb-0" >
            <li>
              <button type="button" class="btn btn-outline-light m-1" mdbRipple rippleColor="dark">Resmi Gazete</button>
            </li>
            <li>
              <button type="button" style="width: 8rem;" class="btn btn-outline-light m-1" mdbRipple rippleColor="dark">YÖK</button>
            </li>
            <li>
              <button type="button" style="width: 8rem;" class="btn btn-outline-light m-1" mdbRipple rippleColor="dark">ÖSYM</button>
            </li>
            <li>
              <button type="button" style="width: 8rem;" class="btn btn-outline-light m-1" mdbRipple rippleColor="dark">YURTLAR</button>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright: Aksaray Üniversitesi
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


